{% set _config={
  "PUBLIC":{
    "storageKey":"aek2-university-studentid",
    "language": language,
    "theme": theme,
    "logo1":"https://www.exlibrisgroup.com/wp-content/uploads/2018/01/el_logo_mobile.png",
    "logo2":"https://pbs.twimg.com/profile_images/616987534074232832/VW9XHThV_400x400.jpg",
    "background": "https://jooinn.com/images/abstract-background-322.jpg"
  }
} %}
