@import "imports/aek-css-config"

// additional styles below
.background
  background-position: right  bottom
  background-repeat: no-repeat
  background-size: 100% 100%
  height: 100%
  position:relative
  width: 100%

.logo1
  bottom: -2px
  left:-2px
  position:absolute
  width:38%
  > img
    display: block
    width:100%


.logo2
  bottom: -2px
  position:absolute
  right:-2px
  width:100px
  height: 100px

  > img
    display: block
    width:100%


.top
  text-align:center
  margin-top: 15px

.photo
  // left: 35%
  // position:absolute
  margin:auto
  text-align:center
  top: 5%
  width:45%
  > img
    border-radius: 50%
    display:block
    height: 100px
    margin:auto

.text
  color: #fff
  font-size: 16px
  position:absolute
  right: 15%
  text-align:right
  top: 7%
  width:45%

.studentName
  margin:auto
  text-align:center


.schoolyearLabel, .studentLabel, .idlabel
  color: #fff
  font-size: 16px
  font-weight: bold

// .barcode
  // position:absolute
  // top:50%

// fix for listview link icon placement
.ui.listview.menu.fixed-links a.item:after, .ui.listview.menu.fixed-links .item > a:after
  height: 1.25rem


// reduced Banner padding, used consistently across projects
.ui.banner.header.reduced
  padding: 0 !important


// this is a fix for inverted HeaderBanners with a specific theme
.ui.inverted.header:hover
  color: #FFF !important


// subtext improvements
h1.ui.header .sub.header
  font-size: 1.1428rem
  opacity: .7


// fix for attached (Group) banner width
.ui.header.attached.inverted, .ui.header.attached.banner
  width: calc(100% + 1px)


// class for disabled buttons with full opacity
.ui.buttons .disabled.button.disabled-opacity, .ui.disabled.button.disabled-opacity, .ui.button:disabled.disabled-opacity,
.ui.disabled.button.disabled-opacity:hover, .ui.disabled.active.button.disabled-opacity
  opacity: 1 !important


// fixes for Message display
@media (max-width: 370px)
  .ui.icon.message > .content
    display: table-cell


  .ui.icon.message > .icon:not(.close)
    padding-bottom: .1rem
    padding-top: .1rem



.ui.icon.message.message-fix
  border-radius: 0
  margin-bottom: 0
  margin-top: 0


// default animation-duration is 2s, we want to speed it up a bit
.ui.icon.message.message-fix > .icon.loading:not(.close)
  animation-duration: 1s
  opacity: 1
  padding: 0


.ui.icon.message.message-fix.padded
  border-radius: .2857rem


.ui.icon.message.message-fix > .icon.loading:not(.close)
  font-size: 1rem


// z-index needs to be 3 to sit on top of Toggle elements nicely
.ui.icon.message.message-fix.message-background
  border-bottom: 1px solid primeColor
  box-shadow: none
  font-size: .9rem
  padding: .65rem 1.25rem .55rem 1.25rem
  position: absolute
  z-index: 3


.ui.icon.message.message-fix.message-background .content
  padding-left: 1rem


.ui.icon.message.message-fix.message-background.alt
  border-bottom-color: tint(altColor, 70%)
